<!DOCTYPE html>

<html lang="fa">
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="assets/img/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>@ViewBag.Title</title>

    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link href="~/css/animate.min.css" rel="stylesheet" />
    <link href="~/css/light-bootstrap-dashboard.css" rel="stylesheet" />
    <link href="~/css/light-bootstrap-dashboard-rtl.css" rel="stylesheet" />
    <link href="~/css/demo.css" rel="stylesheet" />


    <!--     Fonts and icons     -->
    <link href="~/iconfonts/font-awesome/css/font-awesome.css" rel="stylesheet" />
    @*<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">*@
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/earlyaccess/droidarabickufi.css' rel='stylesheet' type='text/css'>

    <link href="~/css/pe-icon-7-stroke.css" rel="stylesheet" />

</head>
<body>

    <div class="wrapper">
        <div class="sidebar" data-color="purple" data-image="/img/sidebar-5.jpg">

            <!--

                Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
                Tip 2: you can also add an image using data-image tag

            -->

            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="http://www.creative-tim.com" class="simple-text">
                        لایت
                    </a>
                </div>

                <ul class="nav">
                    <li class="active">
                        <a href="dashboard.html">
                            <i class="pe-7s-graph"></i>
                            <p>داشبورد</p>
                        </a>
                    </li>
                    <li>
                        <a href="user.html">
                            <i class="pe-7s-user"></i>
                            <p>پروفایل</p>
                        </a>
                    </li>
                    <li>
                        <a href="table.html">
                            <i class="pe-7s-note2"></i>
                            <p>لیست</p>
                        </a>
                    </li>
                    <li>
                        <a href="typography.html">
                            <i class="pe-7s-news-paper"></i>
                            <p>تایپوگرافی</p>
                        </a>
                    </li>
                    <li>
                        <a href="icons.html">
                            <i class="pe-7s-science"></i>
                            <p>آیکون‌ها</p>
                        </a>
                    </li>
                    <li>
                        <a href="maps.html">
                            <i class="pe-7s-map-marker"></i>
                            <p>نقشه ها</p>
                        </a>
                    </li>
                    <li>
                        <a href="notifications.html">
                            <i class="pe-7s-bell"></i>
                            <p>اعلانات</p>
                        </a>
                    </li>
                    <li class="active-pro">
                        <a href="upgrade.html">
                            <i class="pe-7s-rocket"></i>
                            <p>ارتقا به پیشرفته</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">تعویض ناوبری</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">داشبورد</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-dashboard"></i>
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <i class="fa fa-globe"></i>
                                    <b class="caret"></b>
                                    <span class="notification">۳</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">اعلان 1</a></li>
                                    <li><a href="#">اعلان 2</a></li>
                                    <li><a href="#">اعلانی دیگر</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-search"></i>
                                </a>
                            </li>
                        </ul>

                        <ul class="nav navbar-nav navbar-left">
                            <li>
                                <a href="">
                                    حساب کاربری
                                </a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    کشویی
                                    <b class="caret"></b>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">واکنش</a></li>
                                    <li><a href="#">واکنشی دیگر</a></li>
                                    <li><a href="#">چیزی</a></li>
                                    <li><a href="#">واکنش دیگر</a></li>
                                    <li><a href="#">چیزی</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">لینک جداشده</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">
                                    خروج
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>


            <div class="content">
                <div class="container-fluid">
                    @RenderBody()

                </div>
            </div>


        </div>
    </div>

        @RenderSection("mySection" , false)
    
    @*<script src="~/js/jquery-1.10.2.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/bootstrap-checkbox-radio-switch.js"></script>
    <script src="~/js/chartist.min.js"></script>
    <script src="~/js/bootstrap-notify.js"></script>
    <script src="~/js/light-bootstrap-dashboard.js"></script>
    <script src="~/js/demo.js"></script>*@


    @*<script type="text/javascript">
        $(document).ready(function () {

            demo.initChartist();

            $.notify({
                icon: 'pe-7s-gift',
                message: "به پنل مدیریتی وبسایت آراد خوش آمدید.."

            }, {
                type: 'info',
                timer: 4000,
                placement: {
                    from: 'top',
                    align: 'left'
                }
            });

        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {

            demo.initChartist();

            $.notify({
                message: "تنظیمات وبسایت را در بخش مدیریت تنظیمات انجام دهید."

            }, {
                type: 'info',
                timer: 4000,
                placement: {
                    from: 'top',
                    align: 'left'
                }
            });

        });

    </script>*@
</body>
</html>
